.hidden {
	display: none;
}

.nomargin {
	margin: 0 !important;
}

.padding {
	padding: 0 !important;
}

.projects {
	width: 100%;
}

.projects>tbody>tr {
	border-top: 1px #eee solid;
}

.projects>tbody>tr>td,
.projects>tbody>tr>th,
.projects>tfoot>tr>td,
.projects>tfoot>tr>th,
.projects>thead>tr>td,
.projects>thead>tr>th {
	padding: 1rem 2rem;
}

.votebox {
	font-size: 24px;
	font-weight: 600;
}

.voted {
	color: red;
}

.fa-thumbs-o-up .voted {
	color: #C8102E;
}

.project .votebox {
	font-size: 28px;
}

.headerImage {
	max-height: 200px;
	width: 100%;
}